<%- include('partials/header') %>
    <%- include('partials/navbar') %>

        <body>
            <h1>Olá mundo</h1>
            <button class="btn btn-success">AAA</button>
        </body>

<%- include('partials/footer') %>